.Month,
.MonthActive {
        padding: 1rem 1.5rem;
        border-radius: 1rem;
        font-size: 1.3rem;
        border: 1px solid var(--pink);
        background-color: transparent;
        color: var(--pink);
        margin: 0;
}

.MonthActive {
        border: 1px solid var(--pink);
        background-color: var(--pink);
        color: black;
}
