.Month,
.MonthActive {
        padding: 1rem 1.5rem;
        border-radius: 1rem;
        font-size: 1.3rem;
        border: 1px solid var(--light-green);
        background-color: transparent;
        color: #555;
        margin: 0;
}

.MonthActive {
        background-color: var(--light-green-2);
        color: black;
}
