.SongsContainer {
        width: inherit;
        height: auto;
        padding: 0 3rem;
        margin-top: 10rem;
        text-align: center;
        display: grid;
        grid-gap: 1.5rem;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

@media (min-width: 500px) {
        .SongsContainer {
                margin-top: 3rem;
        }
}
