.NavigationItem {
        margin: 10px 0;

        display: block;
        width: 100%;
        font-size: 1.5rem;
}

.NavigationItem a {
        color: black;
        text-decoration: none;
        width: 100%;
        /* background-color: red; */
        display: block;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
        color: var(--white);
}

@media (min-width: 500px) {
        .NavigationItem {
                margin: 0;
                display: flex;
                height: 100%;
                align-items: center;
                width: auto;
        }

        .NavigationItem a {
                color: #fff;
                height: 100%;
                padding: 1.5rem 2.5rem;
                border-bottom: 4px solid transparent;
                transition: all 0.3s;
        }

        .NavigationItem a:hover,
        .NavigationItem a:active,
        .NavigationItem a.active {
                color: #fff;

                background-color: #e27092;
                border-bottom: 4px solid #fff;
                /* color: black; */
                /* font-weight: 700; */
        }
}
