.btn,
.btnActive {
        padding: 1rem 1.5rem;
        border: 1px solid var(--pink);
        margin: 0.5rem 0.5rem;
        /* border-radius: 2rem; */
        transition: all 0.3s;
        cursor: pointer;
        font-weight: 800;
}

.btn {
        background-color: transparent;
        color: var(--pink);
}

.btnActive,
.btn:hover {
        background-color: var(--dark-pink);
        color: #fff;
}

.btn:focus {
        outline: none;
}
