.AnimalItem {
        padding: 0.7rem 1.5rem 0.7rem 1.5rem;
        /* padding-top: 0.7rem; */
        border-radius: 1rem;
        transition: all 0.3s;
        position: relative;
        z-index: 5;
}

.AnimalItem {
        border: 1px solid #eee;
}

.leavingSoon {
        border: 2px solid var(--pink);
}

.comingSoon {
        border: 2px solid var(--blue);
}

.hidden {
        opacity: 0;
        cursor: default;
}
.warning {
        color: var(--dark-pink);
}

.notice {
        color: var(--blue);
}

.content {
        margin-top: 0.5rem;
        /* padding-top: 1rem; */
        /* border: 1px solid red; */
        font-size: 1.3rem;
        color: var(--blue);
        cursor: pointer;
}

.children {
        margin-top: 1.5rem;
}
