.AnimalItem,
.AnimalItemActive {
        padding: 1.5rem;
        border: 1px solid #eee;
        margin: 0.5rem;
        border-radius: 2rem;
        transition: all 0.3s;

        position: relative;
        z-index: 5;
}

.AnimalItem:hover,
.AnimalItemActive {
        border: 1px solid var(--blue-green);
}

.content {
        margin-top: 0.5rem;
        font-size: 1.3rem;
        color: var(--blue);
        cursor: pointer;
}
