@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

*,
*::before,
*::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

html {
        box-sizing: inherit;
        font-size: 62.5%;
}

body {
        /* height: 100%; */
        font-family: 'Open Sans', sans-serif;
}

:root {
        /* --light-green: #11755a;
        --light-green-2: #64bc44; */
        --dark-gray: #2e2e2e;
        --blue: #08a4d8;
        --blue-green: #7bcccc;
        /* --pink: #fcbec9; */
        --pink: #fca6b6;
        --pink-2: #ffe2e7;
        --dark-pink: #e27092;
}
