@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

*,
*::before,
*::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

html {
        box-sizing: inherit;
        font-size: 62.5%;
}

body {
        font-family: 'Open Sans', sans-serif;
}

:root {
        --light-green: #b2ecdd;
        --light-green-2: #98e1cd;
        --dark-gray: #2e2e2e;
        --blue: #00a9e0;
        --blue-green: #7bcccc;
        --pink: #fcbec9;
}

.btnActive {
        background-color: var(--light-green-2);
}
