.Hero {
        padding-top: 10rem;
        height: 100vh;
        background-color: #ffefe0;
}
.NookBox {
        padding-top: 5rem;
}
.tomNook {
        display: none;
}

.heroText {
        font-weight: 300;
        color: var(--pink);
        padding: 2rem;
        margin-top: 50%;
        transform: translateY(-50%);
        letter-spacing: 0.5rem;
        font-size: 3rem;
        z-index: 0;
}
.intro {
        position: relative;
        border-radius: 50%;
        width: 20rem;
        height: 20rem;
        margin: 0 auto;
        padding: 2rem;
        background-color: rgba(255, 255, 255, 0.7);
}

.descriptionBox {
        width: 30rem;
        margin: 2rem auto 0rem auto;
}

/* border: 1px solid red; */
.description {
        color: var(--dark-gray);
        margin-top: 1rem;
        font-size: 1.5rem;
        text-align: center;
}
@media (min-width: 500px) {
        .Hero {
                height: 90vh;
        }
        .NookBox {
                padding-top: 10rem;
        }
        .tomNook {
                display: block;
                position: absolute;
                top: 20%;
                right: 10%;
                z-index: 2;
        }

        .heroText {
                margin-top: 20%;
                background-color: rgba(255, 255, 255, 0.9);
                /* margin-bottom: 2rem; */
                font-size: 5rem;
        }

        .intro {
                width: 45rem;
                height: 20rem;

                border-radius: 1.5rem;
        }

        .description {
                font-size: 1.5rem;
                text-align: left;
        }
}

@media (min-width: 700px) {
        .tomNook {
                left: 60%;
        }
        .descriptionBox {
                /* border: 1px solid red; */
                padding: 0 1.5rem;
                width: 40rem;
        }
}

@media (min-width: 900px) {
        .intro {
                width: 70rem;
                height: 20rem;
                border-radius: 1.5rem;
        }

        .heroText {
                margin-top: 10%;
        }
        .descriptionBox {
                width: 50rem;
                padding: 0 2.5rem;
                /* transform: translateX(); */
        }
}

@media (min-width: 1300px) {
        .NookBox {
                position: relative;
        }
        .tomNook {
                left: 63.5%;
                top: 7%;
        }
        .descriptionBox {
                width: 70rem;
                padding: 0 2.5rem;
                /* transform: translateX(); */
        }
}
