svg {
        /* display: block; */
        width: 1em;
        height: 1em;
        fill: currentColor;
}

.select {
        position: relative;
        display: inline-block;
        width: 30rem;
}
.select:focus {
        outline: 0;
}
.select:focus .selection {
        box-shadow: 0 0 1px 1px var(--pink);
}

.label {
        display: block;
        margin-bottom: 6px;
        font-weight: 600;
}

.selection {
        position: relative;
        border: 1px solid #999;
        padding: 0.5rem 0.5rem;
        margin: 0 2rem 0 0.5rem;
        background: #fff;
        display: flex;
        align-items: center;
}

.value {
        position: relative;
        display: inline-block;
        padding: 5px 10px;
}

.multiple {
        padding-right: 3rem;
        margin-right: 5px;
        background: var(--pink-2);
        color: var(--dark-gray);
        /* color: #00a9e0; */
}

.delete {
        position: absolute;
        top: -3px;
        right: 0;
        display: block;
        padding: 10px;
        font-size: 10px;
        cursor: pointer;
}

.placeholder {
        padding: 5px 10px;
        color: #898989;
}

.arrow {
        position: absolute;
        top: 2px;
        right: 5px;
        display: block;
        padding: 10px;
        font-size: 10px;
        color: #898989;
}

.options {
        width: 27.7rem;
        position: absolute;
        top: 100%;
        left: 0.3rem;
        right: 0;
        border: solid #ddd;
        border-width: 0 1px;
        background: #fff;
}

.option {
        padding: 10px 10px;
        border-bottom: 1px solid #ddd;
        cursor: pointer;
}
.option.selected {
        border: 1px solid #d9f2fb;
        margin: -1px -1px 0;
        background: var(--pink-2);
}
.option.focused {
        background: var(--pink);
}

.checkbox {
        content: '';
        vertical-align: top;
        display: inline-block;
        width: 16px;
        height: 16px;
        padding: 2px;
        border: 1px solid #ddd;
        border-radius: 2px;
        margin: 2px 12px 0 0;
        color: #fff;
        font-size: 10px;
}
.selected .checkbox {
        border-color: #007da6;
        /* border-color: var(--light-green-2); */
        background: #00a9e0;
}
